{% extends "layout.html" %}

{% block title %} - Login{% endblock %}

{% block navbar %}<ul class="navbar-nav mr-auto"><a href="/register" class="btn btn-outline-info">Register</a></ul>{% endblock %}

{% block main %}
<div class="container mt-5 col-6">
    <form action="/login" method="post">
        <div class="mb-3">
          <input type="text" autofocus autocomplete="off" class="form-control" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
{% endblock %}